<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBS8ZT67S1xM3SMfco7Mo6iisj3Hvu3Mlo</string>
	<key>GCM_SENDER_ID</key>
	<string>771455183307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gardienvie.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gardienvie-1fe1e</string>
	<key>STORAGE_BUCKET</key>
	<string>gardienvie-1fe1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771455183307:ios:e0b655d13615e885886e4e</string>
</dict>
</plist>